# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Builds
dist/

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Optional: ignore design references if you still have them
design/
other/